.portfolio__footer {
    background: $primary;
    padding: $p-10 * 5 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer__wrapper {
        width: $w-100 - 30;
        color: $tWhite;
        padding: $p-10 * 2;
        .wrapper__title {
            font-size: $h2;
            margin-bottom: $m-10 * 5;
        }
        .wrapper__content {
            display: flex;
            align-items: center;
            .content__contact {
                width: $w-100 - 50;
                li {
                    margin: $m-10 * 2 0;
                    .fa {
                        margin-right: $m-10 * 3;
                    }
                    span {
                        font-size: $subtitle;
                        @include respond(tablet) {
                            font-size: $body;
                        }
                    }
                }
                @include respond(tablet) {
                    width: $w-100;
                    margin-bottom: $m-10 * 2;
                }
            }
            .content__socials {
                width: $w-100 - 50;
                display: flex;
                justify-content: space-evenly;
                .socials__link {
                    display: block;
                    width: $w-10 * 5;
                    height: $h-10 * 5;
                    border-radius: 50%;
                    background: $white;
                    color: $tSecondary;
                    border: 1px solid transparent;
                    font-size: $h3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.5s ease;
                    &:hover {
                        border-color: $white;
                        background: transparent;
                        color: $tWhite;
                    }
                }
                @include respond(tablet) {
                    width: $w-100;
                }
            }
            @include respond(tablet) {
                flex-direction: column;
            }
        }
        @include respond(laptop) {
            width: $w-100 - 10;
        }
        @include respond(tablet) {
            width: $w-100;
        }
    }
}
