// BACKGROUND-COLOR
$primary: #6666ff;
$black: #333;
$shadow: #999;
$white: #fff;
$RGBA-black: rgba(0,0,0,0.5);

// TEXT-COLOR
$tPrimary: #333;
$tSecondary: #6666ff;
$tWhite: #fff;

// WIDTH
$w-10: 10px;
$w-100: 100%;

// HEIGHT
$h-10: 10px;
$h-100: 100%;

// MARGIN
$m-10: 10px;

// PADDING
$p-10: 10px;

// FONT-WEIGHT
$medium: 600;

// FONT-SIZE
$h1: 60px;
$h2: 40px;
$h3: 25px;
$subtitle: 20px;
$body: 14px;
